<div class="container">

	<div id="welcome-jumbotron">
		<div class="jumbotron">
			<h1>The Logo Game</h1>
			<p>Guess the logos as fast as you can!</p>
			<p>Play for fun, or create an account to save your progress and track your stats.</p>
			<p>
				<button id="welcome-startgame" class="btn btn-lg btn-primary">Start the Game!</button>
			</p>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<h2>2000 Active Players</h2>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<h2>1000+ Logos to Guess</h2>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<h2>Free and Easy to Play</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="game-container" class="display-none">
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-10">
				<div class="panel panel-primary">
					<div class="panel-heading">
						Guess the Logo
					</div>
					<div class="panel-body">
						<div id="game-image-container">
							<img id="game-image" src="images/genericprofilepic.png" class="center-block img-thumbnail">
						</div>
						<p></p>
						<form class="form-inline text-center">
							<div id="game-blanks-container" class="form-group">
							</div>
						</form>
						<p></p>
						<div id="game-timer-container" class="text-center">
							<p class="lead"><strong><span id="game-timer"></span></strong></p>
						</div>
						<div id="game-skip-container" class="text-center">
						</div>
						<p></p>
						<div id="game-description-container">
							<span id="game-description"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-1"></div>
		</div>
	</div>

</div> <!-- /container -->

