<div class="container">

	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<h2>Logo Rankings</h2>
			<hr>
			<div class="table-responsive">
				<table id="logosrankings-table" class="table table-bordered table-hover table-hover-clickable">
					<thead>
						<tr>
							<th>Title</th>
							<th data-container="body" data-toggle="tooltip" data-placement="top" title="Difficulty rank (Easiest=0)">Difficulty</th>
							<th data-container="body" data-toggle="tooltip" data-placement="top" title="% of users who solved logo">% Solved</th>
							<th data-container="body" data-toggle="tooltip" data-placement="top" title="Average Time Taken (sec)">ATT</th>
							<th data-container="body" data-toggle="tooltip" data-placement="top" title="Average Time Taken Per Letter (sec)">ATTPL</th>
							<th data-container="body" data-toggle="tooltip" data-placement="top" title="Average Skips">AS</th>
							<th data-container="body" data-toggle="tooltip" data-placement="top" title="Average Time Taken Below Average Logo (sec)">ATTBAL</th>
							<th data-container="body" data-toggle="tooltip" data-placement="top" title="Average Time Taken Per Letter Below Average Logo (sec)">ATTPLBAL</th>
							<th data-container="body" data-toggle="tooltip" data-placement="top" title="Average Skips Below Average Logo">ASBAL</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="col-xs-1"></div>
	</div>

</div> <!-- /container -->

